[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.thecodelabs.de"
verify_ssl = true
name = "TheCodeLabs"

[requires]
python_version = "3"

[packages]
flask = "==2.1.2"
gevent = "==21.12.0"
TheCodeLabs-BaseUtils = "*"
TheCodeLabs-FlaskUtils = "*"
flask-socketio= "==5.1.2"
apscheduler = "==3.9.01"
Babel = "==2.10.1"

# services
icalendar = "==4.0.9"

# tiles
timeago = "==1.0.15"

[dev-packages]
pytest= "*"
