[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.thecodelabs.de"
verify_ssl = true
name = "TheCodeLabs"

[requires]
python_version = "3"

[packages]
flask = "==2.0.0"
gevent = "==21.1.2"
TheCodeLabs-BaseUtils = "*"
TheCodeLabs-FlaskUtils = "*"
flask-socketio= "==5.0.3"
apscheduler = "==3.7.0"
Babel = "==2.9.1"

# services
icalendar = "==4.0.7"

# tiles
timeago = "==1.0.15"

[dev-packages]
pytest= "*"
