<!DOCTYPE html>
<html>
    <head>
        <title>DashboardLeaf</title>
        {% import 'macros.html' as macros %}
        {{ macros.header(true) }}
    </head>

    <body>
        <div class="main">
            <div class="content">
                <h2>Available Pages</h2>
                <div class="spacer"></div>
                {% for name in pageNames %}
                    <a class="page-item" href="{{ url_for("routes.show_page", pageName=name) }}">{{ name }}</a>
                {% endfor %}
            </div>
        </div>
    </body>
    <script type="text/javascript" src={{ url_for('static', filename='js/main.js') }}></script>
</html>
