<!DOCTYPE html>
<html>
    <head>
        <title>DashboardLeaf</title>
        {% import 'macros.html' as macros %}
        {{ macros.header() }}
    </head>

    <body>
        <div class="main">
            <div class="content">
                <h2>Available Pages</h2>
                <ul>
                    {% for name in pageNames %}
                        <li>{{ name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
    <script type="text/javascript" src={{ url_for('static', filename='js/main.js') }}></script>
</html>
