{% macro header(addViewport) -%}
    <meta charset="UTF-8"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='libraries/fontawesome/css/all.min.css') }}" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>

    {% if addViewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% endif%}
{%- endmacro %}
